<facebook-auth>

    <div ref="placeHolder"></div>

    <div id="gSignInWrapper">
        <span class="label">Sign in with:</span>
        <button ref="customBtn" class="customGPlusSignIn">
            <span class="icon"></span>
            <span class="buttonText">Facebook</span>
        </button>
    </div>
    <div id="name"></div>

    <script>
        onSuccess(googleUser) {

            debugger;
            let text = "Signed in: " + googleUser.getBasicProfile().getName();
            let token = googleUser.getAuthResponse().id_token;
            console.log(token);
            document.getElementById('name').innerText = text;
            // debugger;
            // var profile = googleUser.getBasicProfile();
            // console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            // console.log('Name: ' + profile.getName());
            // console.log('Image URL: ' + profile.getImageUrl());
            // console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
            // console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
        }

        onFailure(error) {
            console.log(error);
        }

        this.on("mount", function () {
            
            var ph = this.refs.placeHolder;
            var s = this.onSuccess;
            var f = this.onFailure;
            var customBtn = this.refs.customBtn;

            if (document.getElementById("E1DBE721462435C9DD7FC3AFB7960539") == null) {

                var script = document.createElement('script');
                script.setAttribute("id", "E1DBE721462435C9DD7FC3AFB7960539");

                script.onload = function () {

                    gapi.load('auth2', function () {
                        // Retrieve the singleton for the GoogleAuth library and set up the client.
                        let auth2 = gapi.auth2.init({
                            client_id: '1059399177686-6mr3h61751m0g93gvm3i29if9pgsabqu.apps.googleusercontent.com',
                            cookiepolicy: 'single_host_origin',
                        });


                        debugger;

                        auth2.attachClickHandler(customBtn, {}, s, f);
                        
                    });
                };

                script.src = "https://apis.google.com/js/platform.js";

                document.head.appendChild(script);
            }

        });

    </script>

</facebook-auth>
