<google-auth>

    
    <div ref="placeHolder"></div>

    <div id="gSignInWrapper">
        <span class="label">Sign in with:</span>
        <button ref="customBtn" class="customGPlusSignIn">
            <span class="icon"></span>
            <span class="buttonText">Google</span>
        </button>
    </div>
    <div id="name"></div>

    <script>
        
        let tag = this;
        tag.onSuccess = onSuccess; 
        tag.onFailure = onFailure; 
        
        function onSuccess(googleUser) {

            let text = "Signed in: " + googleUser.getBasicProfile().getName();
            let token = googleUser.getAuthResponse().id_token;
            tag.opts.actions.authorizeGoogle(googleUser.getBasicProfile().getName(), token);
            console.log(token);
            document.getElementById('name').innerText = text;
            tag.opts.actions.reload();
        }

        function onFailure(error) {
            console.log(error);
        }

        tag.on("mount", function () {
            
            var ph = tag.refs.placeHolder;
            var s = tag.onSuccess;
            var f = tag.onFailure;
            var customBtn = tag.refs.customBtn;

            if (document.getElementById("E1DBE721462435C9DD7FC3AFB7960539") == null) {

                var script = document.createElement('script');
                script.setAttribute("id", "E1DBE721462435C9DD7FC3AFB7960539");

                script.onload = function () {

                    gapi.load('auth2', function () {
                        // Retrieve the singleton for the GoogleAuth library and set up the client.
                        let auth2 = gapi.auth2.init({
                            client_id: '1059399177686-6mr3h61751m0g93gvm3i29if9pgsabqu.apps.googleusercontent.com',
                            cookiepolicy: 'single_host_origin',
                        });

                        auth2.attachClickHandler(customBtn, {}, s, f);
                        
                    });
                };

                script.src = "https://apis.google.com/js/platform.js";

                document.head.appendChild(script);
            }
        });

    </script>

</google-auth>
